.card-container{
  background: ghostwhite;
  color: black;
  width: 100%;
  height: 100%;

}
.example-card{
  border: 10px solid lightgrey;
}
.card-img{
  width: 100%;
  height: 100%;
}
mat-card-title{
  margin-top: 15px !important;
  text-align: center;
}
.game-name{
  width: 100%;
  background: lightskyblue;
  color: white;
}
h3{

}
