.card-row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:30px
}
.card-container{

}
.popular{
  display: flex;
}
.popular-red-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 50px;
  height: 30px;
  background: red;
  color: whitesmoke;
}
@media(max-width: 769px){
  .card-row{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 535px){
  .card-row{
    grid-template-columns: repeat(1, 1fr);
  }
  .card-container{
    width: 100%;
    max-width: unset;
    max-height: unset;
  }
}
